<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="Dapper.Extension" version="1.0.0.1" targetFramework="net45" />
  <package id="Dapper.Mapper" version="1.50.1" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NPOI" version="2.3.0" targetFramework="net45" />
  <package id="odp.net.x64" version="112.3.20" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Zhuang.Data" version="1.2.8" targetFramework="net45" />
</packages>